<a href="/rock">Play Rock</a><br>
<a href="/paper">Play Paper</a><br>
<a href="/scissors">Play Scissors</a>

<h1>We played <%= @my_move %>!</h1>
<h1>They played <%= @comp_move %>!</h1>
<h1>We <%= @result %>!</h1>
<a href="/">Rules</a>
